<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:replace="~{home :: bootstrapImport}"></span>
</head>
<body>
<span th:replace="~{home :: navbar}"></span>
<div class="container">
    <h1 th:text="${student.getId() != null ? 'Modifier étudiant' : 'Ajouter étudiant'}"></h1>
    <form th:action="@{/add}" method="post" th:object="${student}">
        <input th:field="*{id}" type="hidden" >
        <div class="mb-3">
            <label for="lastname">Nom :</label>
            <input type="text" class="form-control" id="lastname" th:field="*{lastname}">
        </div>
        <div class="mb-3">
            <label for="firstname">Prénom :</label>
            <input type="text" class="form-control" id="firstname" th:field="*{firstname}">
        </div>

        <div class="mb-3">
            <label for="age">Age :</label>
            <input type="number" class="form-control" id="age" th:field="*{age}" >
        </div>
        <div class="mb-3">
            <label for="email">Email :</label>
            <input type="text" class="form-control" id="email" th:field="*{email}">
        </div>
        <button class="btn btn-primary" th:text="${student.getId() != null ? 'Modifier' : 'Ajouter'}"></button>
    </form>
</div>
</body>
</html>